$lt-gray: #ddd;
$background-dark: rgb(46, 124, 160);
$background-moredark:  rgb(46, 124, 166);
$background-light: rgb(46, 124, 160);
$background-pale: rgb(46, 124, 160);

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding:  $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}

.active {
    background: $background-moredark;
}