$lt-gray: #ddd;
$background-dark: rgba(122, 121, 214, 0.795);
$background-light: rgb(247, 247, 247);
$background-pale: rgb(46, 117, 165);

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.footer{
    background-color: $background-pale;
    @include zero-margin(20px, 0px);
}

.btn-facebook {color:#fff!important; background-color:#fff!important;}
.btn-google-plus{color:#fff!important;background-color:#fff!important;}
.btn-youtube{color:#fff!important;background-color:#fff!important;}
.btn-linkedin{color:#fff!important;background-color:#fff!important;}
.btn-twitter{color:#fff!important;background-color:#fff!important;}
.btn-mail{color:#fff!important;background-color:#fff!important;}