<div class="container"
fxLayout="column"
fxLayoutGap="10px"
dir="rtl">

  <div fxFlex>
    <div>
    <h3>شما میتوانید با مطالعه و انتخاب هر یک از پلن های زیر، مناسب ترین گزینه برای خود را انتخاب نمایید</h3>
    <hr>
    </div>
  </div>

  <div fxFlex *ngIf="markets" [@expand]>
    <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile *ngFor="let market of markets" [routerLink]="['/marketdetail', market.id]" appHighlight>
      <img height="200px" src="{{BaseURL + market.image}}" alt={{market.name}}>
      <mat-grid-tile-footer>
        <h1 mat-line>{{market.name | uppercase}}</h1>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="markets || errMess">
    <mat-spinner></mat-spinner><h4>در حال بارگذاری ... </h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>