<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-mat="space-around center"
     fxLayoutGap="10px"
     dir="rtl">
<!--
  <mat-card *ngIf="plans" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{plan.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{BaseURL + plan.image}}" alt={{plan.name}}>
    <mat-card-content>
      <p>{{plan.description}}
      </p>
    </mat-card-content>
  </mat-card>
  <div [hidden]="plan || planErrMess">
      <mat-spinner></mat-spinner><h4>لطفا کمی صبر کنید ...</h4>
  </div>
  <div *ngIf="planErrMess">
    <h2>Error</h2>
    <h4>{{planErrMess}}</h4>
  </div>

  <mat-card *ngIf="promotion" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{promotion.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{BaseURL + promotion.image}}" alt={{promotion.name}}>
    <mat-card-content>
      <p>{{promotion.description}}
      </p>
    </mat-card-content>
  </mat-card>
  <div [hidden]="promotion || promotionErrMess">
      <mat-spinner></mat-spinner><h4>لطفا کمی صبر کنید ...</h4>
    </div>
  <div *ngIf="promotionErrMess">
    <h2>Error</h2>
    <h4>{{promotionErrMess}}</h4>
  </div>

  <mat-card *ngIf="leader" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{leader.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{BaseURL + leader.image}}" alt={{leader.name}}>
    <mat-card-content>
      <p>{{leader.designation}}</p>
      <p>{{leader.description}}
      </p>
    </mat-card-content>
  </mat-card>
  <div [hidden]="leader || leaderErrMess">
      <mat-spinner></mat-spinner><h4>لطفا کمی صبر کنید ...</h4>
    </div>
  <div *ngIf="leaderErrMess">
    <h2>Error</h2>
    <h4>{{leaderErrMess}}</h4>
  </div>

</div>
-->



<div class="container"
fxLayout="column"
fxLayoutGap="10px"
dir="rtl">

  <div fxFlex>
    <div>
    <h3>در تمامی این بازار ها همراه شما هستیم</h3>
    <hr>
    </div>
  </div>

  <div fxFlex *ngIf="plans" [@expand]>
    <mat-grid-list cols="3" rowHeight="300px" >
    <mat-grid-tile *ngFor="let plan of plans" [routerLink]="['/plandetail', plan.id]" appHighlight>
      <img height="200px" src="{{BaseURL + plan.image}}" alt={{plan.name}}>
      <mat-grid-tile-footer>
        <h1 mat-line>{{plan.name | uppercase}}</h1>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="plans || errMess">
    <mat-spinner></mat-spinner><h4>در حال بارگذاری ... </h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>